#nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

#app {
	margin-top: var(--menu-height);
	padding-bottom: 0;
	/* height: calc(100vh - var(--menu-height)); */
	overflow: auto;
	overflow-x: unset;
	overflow-y: auto;
}

#read-error {
	height: 100%;
}

#footnote-viewer {
	min-width: 50vw;
	max-width: 75vw;
	top: calc(var(--position-bottom) + var(--base-padding));
	border-radius: calc(var(--base-border-radius) / 2);
}

#name-picker {
	top: calc(var(--menu-height) + 1em);
	border-radius: calc(var(--base-border-radius) / 2);
	left: 50%;
	transform: translate(-50%);
}

#footer, #install-instructions-backdrop  {
	bottom: 0;
	left: 0;
	right: 0;
}

#install-instructions-backdrop {
	top: 0;
}

#quote-url-block, #quote-url-block::before, #quote-url-block .url-location{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: var(--base-padding);
	color: var(--color-button-text);
}
#quote-url-block::before {
	position: absolute;
	display: block;
	content: " ";
	background-color: var(--color-button);
	opacity: 0.9;
}
#quote-url-block {
	bottom: calc(var(--base-padding) * 2);
}
.clickable {
	cursor: pointer;
}

.underline {
	text-decoration: underline;
	text-decoration-color: var(--color-button-text);
}

.bubbly {
	border-radius: calc(var(--base-border-radius) / 2);
}

.line {
	padding: 0;
	margin: 0;
	padding-bottom: calc(var(--base-padding) * 2);
	position: relative;
}

hr.line {
	border: 0;
}

hr.line::before {
	display: block;
	content: " ";
	border-bottom: solid 0.125em currentcolor;
}

.content-width {
	width: 100%;
	max-width: calc(var(--base-padding) * 75);
	margin: auto;
}

img.line {
	max-width: 100%;
	height: auto;
}

.border-top {
	border-top: solid 1px var(--color-button);
}
.border-bot {
	border-bottom: solid 1px var(--color-button);
}
.border-left {
	border-left: solid 1px var(--color-button);
}
.border-right {
	border-right: solid 1px var(--color-button);
}
