.oled {
	--color-white: #000;
	--color-light: #1A1A1A;
	--color-mid: #5C5C5C;
	--color-low: #777;
	--color-dark: #999;
	--color-black: #AAA;
}
.dark {
	--color-white: #202020;
	--color-light: #393939;
	--color-mid: #595959;
	--color-low: #AAA;
	--color-dark: #CBCBCB;
	--color-black: #EEE;
}
