.oled {
	--color-white: #000;
	--color-light: #1A1A1A;
	--color-mid: #5C5C5C;
	--color-low: #777;
	--color-dark: #999;
	--color-black: #AAA;
}
.dark {
	--color-white: #292929;
	--color-light: #5C5C5C;
	--color-mid: #7F7F7F;
	--color-low: #AAA;
	--color-dark: #CBCBCB;
	--color-black: #EEE;
}
